.paginate button {
    background-color: rgba(0, 0, 0, 0);
    color: #c08c4f;
    font-size: 31px;
    border-color: rgba(0, 0, 0, 0);
    font-family: "Playfair Display", serif;
}

.paginate button:hover {
    background-color: rgba(255, 255, 255, 0.055);
    cursor: pointer;
}

.paginate {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}